.vs/roweUnityTools/FileContentIndex/089babdb-f010-4de7-aaaf-56a8d1d12e45.vsidx
.vs/roweUnityTools/FileContentIndex/a90c9f47-d6b2-4dfe-87ec-3aeaef8cd4eb.vsidx
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/roweUnityTools/FileContentIndex/9ae18eda-816a-400b-8f8c-48fa9af30304.vsidx
.vs/roweUnityTools/FileContentIndex/b8795702-86a7-450f-a0b6-da0c848577cb.vsidx
/.vs/roweUnityTools/FileContentIndex
.vs/roweUnityTools/v17/DocumentLayout.json
.vs/roweUnityTools/v17/.wsuo
.vs/VSWorkspaceState.json
